<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.topicmapslab.tmcledit.extensions"
            name="TMCLEdit">
      </category>
      <view
            category="de.topicmapslab.tmcledit.extensions"
            class="de.topicmapslab.tmcledit.extensions.views.ModelView"
            icon="icons/sample.gif"
            id="de.topicmapslab.tmcledit.extensions.views.ModelView"
            name="Model View">
      </view>
      <view
            category="de.topicmapslab.tmcledit.extensions"
            class="de.topicmapslab.tmcledit.extensions.views.PropertyDetailView"
            icon="icons/sample.gif"
            id="de.topicmapslab.tmcledit.extensions.views.PropertyDetailView"
            name="Property Details View">
      </view>
      <view
            class="de.topicmapslab.tmcledit.extensions.views.ValidationErrorView"
            icon="icons/sample.gif"
            id="de.topicmapslab.tmcledit.extensions.views.ValidationErrorView"
            name="Error View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.topicmapslab.tmcledit.application.TmcleditPerspective">
         <view
               closeable="false"
               id="de.topicmapslab.tmcledit.extensions.views.ModelView"
               moveable="true"
               ratio="0.3"
               relationship="fast"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.topicmapslab.tmcledit.model.validatecommand"
            name="Validate">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.topicmapslab.tmcledit.extensions.toolbar">
            <command
                  commandId="de.topicmapslab.tmcledit.model.validatecommand"
                  id="validateCommandToolbarItem"
                  label="Validate"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.topicmapslab.tmcledit.extensions.actions.ValidateHandler"
            commandId="de.topicmapslab.tmcledit.model.validatecommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="de.topicmapslab.tmcledit.model.validatecommand"
            icon="icons/sample.gif">
      </image>
   </extension>

</plugin>
