<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright (c) 2008, 2009 Topic Maps Lab and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
    
    Contributors:
        Hannes Niederhausen - initial API and implementation
 -->

<plugin>
   <extension-point id="psiprovider" name="PSI Provider" schema="schema/de.topicmapslab.tmcledit.edit.psiprovider.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.topicmapslab.tmcledit.extensions"
            name="Onotoa">
      </category>
      <view
            category="de.topicmapslab.tmcledit.extensions"
            class="de.topicmapslab.tmcledit.model.views.ModelView"
            icon="icons/icon.png"
            id="de.topicmapslab.tmcledit.extensions.views.ModelView"
            name="Model View"
            restorable="true">
         <description>
            This view is the heart of the onotoa plugin. It contains a tree displaying the whole schema elements.
         </description>
      </view>
      <view
            category="de.topicmapslab.tmcledit.extensions"
            class="de.topicmapslab.tmcledit.model.views.PropertyDetailView"
            icon="icons/icon.png"
            id="de.topicmapslab.tmcledit.extensions.views.PropertyDetailView"
            name="Property Details View">
      </view>
      <view
            class="de.topicmapslab.tmcledit.model.views.ValidationErrorView"
            icon="icons/icon.png"
            id="de.topicmapslab.tmcledit.extensions.views.ValidationErrorView"
            name="Error View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.topicmapslab.tmcledit.model.validatecommand"
            name="Validate">
      </command>
      <command
            id="de.topicmapslab.tmcledit.extensions.showerrorviewcommand"
            name="Show Error View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:window">
         <command
               commandId="de.topicmapslab.tmcledit.extensions.showerrorviewcommand"
               mode="FORCE_TEXT"
               style="push"
               tooltip="Opens the validation error view">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.topicmapslab.tmcledit.model.actions.ValidateHandler"
            commandId="de.topicmapslab.tmcledit.model.validatecommand">
      </handler>
      <handler
            class="de.topicmapslab.tmcledit.model.actions.ShowValidationErrorViewHandler"
            commandId="de.topicmapslab.tmcledit.extensions.showerrorviewcommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="de.topicmapslab.tmcledit.model.validatecommand"
            icon="icons/icon.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.topicmapslab.tmcledit.model.perspectives.OnotoaPerspective"
            icon="icons/icon.png"
            id="de.topicmapslab.tmcledit.extensions.OnotoaPerspective"
            name="Onotoa">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.topicmapslab.tmcledit.category"
            name="Onotoa">
      </category>
      <wizard
            category="de.topicmapslab.tmcledit.category"
            class="de.topicmapslab.tmcledit.model.wizards.NewOnototaFileWizard"
            icon="icons/icon.png"
            id="de.topicmapslab.tmcledit.model.wizards.NewOnototaFileWizard"
            name="New Onotoa File">
      </wizard>
   </extension>
   <extension
         point="de.topicmapslab.tmcledit.edit.psiprovider">
      <psiprovider
      	    id="de.topicmapslab.tmcledit.model.psiprovider.internal.BasicPSIProvider"
            class="de.topicmapslab.tmcledit.model.psiprovider.internal.BasicPSIProvider"
            name="Base Test provider">
         psiprovider body text
      </psiprovider>
      <psiprovider
      		id="de.topicmapslab.tmcledit.model.psiprovider.internal.Subj3ctPSIProvider"
            class="de.topicmapslab.tmcledit.model.psiprovider.internal.Subj3ctPSIProvider"
            name="Subj3ctPSIProvider">
      </psiprovider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.topicmapslab.tmcledit.model.preferences.GeneralPreferencePage"
            id="de.topicmapslab.tmcledit.edit.preferences.GeneralPreferencePage"
            name="Onotoa">
      </page>
      <page
            category="de.topicmapslab.tmcledit.edit.preferences.GeneralPreferencePage"
            class="de.topicmapslab.tmcledit.model.preferences.CompletionPreferencePage"
            id="de.topicmapslab.tmcledit.edit.preferences.CompletionPreferencePage"
            name="Identifier Assist">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.topicmapslab.tmcledit.model.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="ono,tmcl"
            id="de.topicmapslab.tmcledit.model.util.OnototaLauncher"
            launcher="de.topicmapslab.tmcledit.model.util.OnototaLauncher"
            name="Onotoa Modelloader">
      </editor>
   </extension>
</plugin>
