<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.topicmapslab.onotoa.search.commands.GeneralSearchUseCommandHandler"
            id="de.topicmapslab.onotoa.search.use"
            name="Find Usage">
      </command>
      <command
            defaultHandler="de.topicmapslab.onotoa.search.commands.ListSubjectIdentifierHandler"
            id="de.topicmapslab.onotoa.search.commands.ListSubjectIdentifierHandler"
            name="List All Subject Identifiers">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="search"
               label="&amp;Search">
            <command
                  commandId="de.topicmapslab.onotoa.search.use"
                  id="use"
                  label="Find &amp;Use"
                  style="push">
            </command>
            <command
                  commandId="de.topicmapslab.onotoa.search.commands.ListSubjectIdentifierHandler"
                  label="List All Subject &amp;Identifiers"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.topicmapslab.onotoa.search.commands.SearchUseCommandHandler"
            commandId="de.topicmapslab.onotoa.search.use">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="de.topicmapslab.tmcledit.model.TopicType">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.topicmapslab.onotoa.search.use"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="de.topicmapslab.tmcledit.application.bindingScheme"
            sequence="CTRL+F">
      </key>
   </extension>

</plugin>
