<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="de.topicmapslab.tmcledit.export.tmcledit"
            name="TMCL">
      </category>
      <wizard
            category="de.topicmapslab.tmcledit.export.tmcledit"
            class="de.topicmapslab.tmcledit.export.wizards.TMCLExportWizard"
            id="de.topicmapslab.tmcledit.export.wizards.ExportWizard"
            name="Export TMCL">
      </wizard>
      <wizard
            category="de.topicmapslab.tmcledit.export.tmcledit"
            class="de.topicmapslab.tmcledit.export.wizards.XTMExportWizard"
            id="de.topicmapslab.tmcledit.export.XTMExportWizard"
            name="Export XTM">
      </wizard>
   </extension>

</plugin>
