<plugin> 
   <extension 
         id="product"
         point="org.eclipse.core.runtime.products"> 
      <product 
            application="de.topicmapslab.tmcledit.application.onotoa"
            name="Onotoa"> 
         <property 
               name="appName"
               value="Onotoa"> 
         </property> 
         <property 
               name="preferenceCustomization"
               value="plugin_customization.ini"> 
         </property> 
         <property 
               name="aboutImage"
               value="about.png"> 
         </property> 
         <property 
               name="windowImages"
               value="icons/onotoa_16_16.png,icons/onotoa_32_32.png,icons/onotoa_48_48.png,icons/onotoa_64_64.png,icons/onotoa_128_128.png"> 
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
      </product> 
   </extension> 
   <extension 
         id="onotoa"
         name="Onotoa"
         point="org.eclipse.core.runtime.applications"> 
      <application 
            cardinality="singleton-global"
            thread="main"
            visible="true"> 
         <run 
               class="de.topicmapslab.tmcledit.application.TmcleditApplication"> 
         </run> 
      </application> 
      </extension>   
      <extension 
         id="de.topicmapslab.tmcledit.splashhandler"
         name="Onotoa Splash"
         point="org.eclipse.ui.splashHandlers"> 
      <splashHandlerProductBinding 
            productId="de.topicmapslab.tmcledit.application.product"
            splashId="de.topicmapslab.tmcledit.application.splash.onotoa"> 
      </splashHandlerProductBinding> 
      <splashHandler 
            class="de.topicmapslab.tmcledit.application.splash.OnotoaSplashHandler"
            id="de.topicmapslab.tmcledit.application.splash.onotoa"> 
      </splashHandler> 
      
   </extension> 
      <extension 
            point="org.eclipse.ui.bindings"> 
         <key 
               commandId="de.topicmapslab.tmcledit.application.newfile"
               contextId="org.eclipse.ui.contexts.window"
               schemeId="de.topicmapslab.tmcledit.application.bindingScheme"
               sequence="M1+N"> 
         </key> 
         <key 
               commandId="de.topicmapslab.tmcledit.application.openfile"
               contextId="org.eclipse.ui.contexts.window"
               schemeId="de.topicmapslab.tmcledit.application.bindingScheme"
               sequence="M1+O"> 
         </key> 
         <scheme 
               id="de.topicmapslab.tmcledit.application.bindingScheme"
               name="Onotoa Keys"
               parentId="org.eclipse.ui.defaultAcceleratorConfiguration"> 
         </scheme> 
      </extension> 
      <extension 
            point="org.eclipse.ui.commands"> 
         <command 
               defaultHandler="de.topicmapslab.tmcledit.application.commands.NewFileHandler"
               id="de.topicmapslab.tmcledit.application.newfile"
               name="New File"> 
         </command> 
         <command 
               defaultHandler="de.topicmapslab.tmcledit.application.commands.OpenFileHandler"
               id="de.topicmapslab.tmcledit.application.openfile"
               name="Open file"> 
         </command> 
         
      </extension> 
      <extension 
            point="org.eclipse.ui.menus"> 
         <menuContribution
               locationURI="menu:file?placement=fileStart"> 
            <command 
                  commandId="de.topicmapslab.tmcledit.application.newfile"
                  label="&amp;New"
                  style="push"> 
            </command> 
            <command 
                  commandId="de.topicmapslab.tmcledit.application.openfile"
                  label="&amp;Open"
                  style="push"> 
            </command>
         </menuContribution>
         <menuContribution
               allPopups="false"
               class="de.topicmapslab.tmcledit.application.actions.MenuDefinition"
               locationURI="menu:file?placement=recent">
         </menuContribution> 
      </extension> 
      <extension 
            point="org.eclipse.ui.activities"> 
         <activity 
               id="de.topicmapslab.tmcledit.application"
               name="Onotoa"> 
            <enabledWhen> 
               <with 
                     variable="rcp"> 
                  <equals 
                        value="false"> 
                  </equals> 
               </with> 
            </enabledWhen> 
         </activity> 
         <activityPatternBinding 
               activityId="de.topicmapslab.tmcledit.application"
               isEqualityPattern="false"
               pattern="org.eclipse.help.ui/.*PreferencePage"> 
         </activityPatternBinding> 
         <activityPatternBinding 
               activityId="de.topicmapslab.tmcledit.application"
               isEqualityPattern="false"
               pattern="org.eclipse.equinox.security.ui/.*"> 
         </activityPatternBinding>
         <activityPatternBinding
		 		activityId="de.topicmapslab.tmcledit.application"
		 		isEqualityPattern="false"
	   			pattern="org\.eclipse\.ui\.ide/.*">
	     </activityPatternBinding>
      </extension>
      <extension 
            point="org.eclipse.ui.services"> 
         <sourceProvider 
               provider="de.topicmapslab.tmcledit.application.OnotoaSourceProvider"> 
            <variable 
                  name="rcp"
                  priorityLevel="workbench"> 
            </variable> 
         </sourceProvider> 
      </extension> 
</plugin> 
