<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.topicmapslab.tmcledit.application.TmcleditApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="TMCLEdit Perspective"
            class="de.topicmapslab.tmcledit.application.DiagramEditorPerspective"
            id="de.topicmapslab.tmcledit.application.perspective">
      </perspective>
   </extension>

</plugin>
