<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes">
      <?gmfgen generated="true"?>
      <fileTypes
         type="text"
         extension="model_diagram">
      </fileTypes>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <?gmfgen generated="true"?>
      <parser
         type="model_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <?gmfgen generated="true"?>
      <editor
         id="de.topicmapslab.tmcledit.model.diagram.part.TmcleditDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/ModelDiagramFile.gif"
         extensions="model_diagram"
         default="true"
         class="de.topicmapslab.tmcledit.model.diagram.part.TmcleditDiagramEditor"
         matchingStrategy="de.topicmapslab.tmcledit.model.diagram.part.TmcleditMatchingStrategy"
         contributorClass="de.topicmapslab.tmcledit.model.diagram.part.TmcleditDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="de.topicmapslab.tmcledit.model.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <?gmfgen generated="true"?>
  	  <wizard
           category="org.eclipse.ui.Examples"
           class="de.topicmapslab.tmcledit.model.diagram.part.TmcleditCreationWizard"
           icon="icons/obj16/ModelDiagramFile.gif"
           id="de.topicmapslab.tmcledit.model.diagram.part.TmcleditCreationWizardID"
           name="%newWizardName"
           project="false">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            adaptable="false"
            id="de.topicmapslab.tmcledit.diagram.LoadResource"
            objectClass="de.topicmapslab.tmcledit.model.diagram.edit.parts.TopicMapSchemaEditPart">
         <action
               class="de.topicmapslab.tmcledit.model.diagram.part.TmcleditLoadResourceAction"
               enablesFor="1"
               id="de.topicmapslab.tmcledit.diagram.LoadResourceAction"
               label="%loadResourceActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>           
   </extension>

      <extension point="org.eclipse.ui.actionSets">
      <?gmfgen generated="true"?>
      <actionSet
            label="%initDiagramActionLabel"
            visible="true"
            id="de.topicmapslab.tmcledit.diagram.InitDiagram">
         <action
               label="%initDiagramActionLabel"
               class="de.topicmapslab.tmcledit.model.diagram.part.TmcleditInitDiagramFileAction"
               menubarPath="file/additions"
               id="de.topicmapslab.tmcledit.diagram.InitDiagramAction">
         </action>
      </actionSet>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="TmcleditPresentation">
         <Priority name="Lowest"/>
         <ViewId id="de.topicmapslab.tmcledit.model.diagram.part.TmcleditDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="TmcleditRender">
         <Priority name="Lowest"/>
         <ViewId id="de.topicmapslab.tmcledit.model.diagram.part.TmcleditDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences">
      <?gmfgen generated="true"?>
      <initializer class="de.topicmapslab.tmcledit.model.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <?gmfgen generated="true"?>
      <page
            id="de.topicmapslab.tmcledit.diagram.general"
            name="%preference.page.title.de.topicmapslab.tmcledit.diagram.general"
            class="de.topicmapslab.tmcledit.model.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="de.topicmapslab.tmcledit.diagram.appearance"
            name="%preference.page.title.de.topicmapslab.tmcledit.diagram.appearance"
            category="de.topicmapslab.tmcledit.diagram.general"
            class="de.topicmapslab.tmcledit.model.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="de.topicmapslab.tmcledit.diagram.connections"
            name="%preference.page.title.de.topicmapslab.tmcledit.diagram.connections"
            category="de.topicmapslab.tmcledit.diagram.general"
            class="de.topicmapslab.tmcledit.model.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="de.topicmapslab.tmcledit.diagram.printing"
            name="%preference.page.title.de.topicmapslab.tmcledit.diagram.printing"
            category="de.topicmapslab.tmcledit.diagram.general"
            class="de.topicmapslab.tmcledit.model.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="de.topicmapslab.tmcledit.diagram.rulersAndGrid"
            name="%preference.page.title.de.topicmapslab.tmcledit.diagram.rulersAndGrid"
            category="de.topicmapslab.tmcledit.diagram.general"
            class="de.topicmapslab.tmcledit.model.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
      <page
            id="de.topicmapslab.tmcledit.diagram.pathmaps"
            name="%preference.page.title.de.topicmapslab.tmcledit.diagram.pathmaps"
            category="de.topicmapslab.tmcledit.diagram.general"
            class="org.eclipse.gmf.runtime.emf.ui.preferences.PathmapsPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="de.topicmapslab.tmcledit.diagram"
            labelProvider="de.topicmapslab.tmcledit.model.diagram.sheet.TmcleditSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="de.topicmapslab.tmcledit.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="de.topicmapslab.tmcledit.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="de.topicmapslab.tmcledit.model.diagram.sheet.TmcleditPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <?gmfgen generated="true"?>
      <viewProvider class="de.topicmapslab.tmcledit.model.diagram.providers.TmcleditViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Tmcledit"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <?gmfgen generated="true"?>
      <editpartProvider class="de.topicmapslab.tmcledit.model.diagram.providers.TmcleditEditPartProvider">
         <Priority name="Lowest"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="de.topicmapslab.tmcledit.model.diagram.providers.TmcleditModelingAssistantProvider">
         <Priority name="Lowest"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <?gmfgen generated="true"?>
      <IconProvider class="de.topicmapslab.tmcledit.model.diagram.providers.TmcleditIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <?gmfgen generated="true"?>
      <ParserProvider class="de.topicmapslab.tmcledit.model.diagram.providers.TmcleditParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <metamodelType
               id="de.topicmapslab.tmcledit.diagram.TopicMapSchema_79"
               name="%metatype.name.TopicMapSchema_79"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TopicMapSchema"
               edithelper="de.topicmapslab.tmcledit.model.diagram.edit.helpers.TopicMapSchemaEditHelper">
            <param name="semanticHint" value="79"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <metamodelType
               id="de.topicmapslab.tmcledit.diagram.NameType_1001"
               name="%metatype.name.NameType_1001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="NameType"
               edithelper="de.topicmapslab.tmcledit.model.diagram.edit.helpers.NameTypeEditHelper">
            <param name="semanticHint" value="1001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <metamodelType
               id="de.topicmapslab.tmcledit.diagram.ScopeType_1002"
               name="%metatype.name.ScopeType_1002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ScopeType"
               edithelper="de.topicmapslab.tmcledit.model.diagram.edit.helpers.ScopeTypeEditHelper">
            <param name="semanticHint" value="1002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <metamodelType
               id="de.topicmapslab.tmcledit.diagram.RoleType_1003"
               name="%metatype.name.RoleType_1003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="RoleType"
               edithelper="de.topicmapslab.tmcledit.model.diagram.edit.helpers.RoleTypeEditHelper">
            <param name="semanticHint" value="1003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <metamodelType
               id="de.topicmapslab.tmcledit.diagram.AssociationsType_1004"
               name="%metatype.name.AssociationsType_1004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="AssociationsType"
               edithelper="de.topicmapslab.tmcledit.model.diagram.edit.helpers.AssociationsTypeEditHelper">
            <param name="semanticHint" value="1004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <metamodelType
               id="de.topicmapslab.tmcledit.diagram.OccurenceType_1005"
               name="%metatype.name.OccurenceType_1005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OccurenceType"
               edithelper="de.topicmapslab.tmcledit.model.diagram.edit.helpers.OccurenceTypeEditHelper">
            <param name="semanticHint" value="1005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <metamodelType
               id="de.topicmapslab.tmcledit.diagram.AssociationTypeConstraint_1006"
               name="%metatype.name.AssociationTypeConstraint_1006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="AssociationTypeConstraint"
               edithelper="de.topicmapslab.tmcledit.model.diagram.edit.helpers.AssociationTypeConstraintEditHelper">
            <param name="semanticHint" value="1006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <metamodelType
               id="de.topicmapslab.tmcledit.diagram.TopicType_1007"
               name="%metatype.name.TopicType_1007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TopicType"
               edithelper="de.topicmapslab.tmcledit.model.diagram.edit.helpers.TopicTypeEditHelper">
            <param name="semanticHint" value="1007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <metamodelType
               id="de.topicmapslab.tmcledit.diagram.NameTypeConstraint_2001"
               name="%metatype.name.NameTypeConstraint_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="NameTypeConstraint"
               edithelper="de.topicmapslab.tmcledit.model.diagram.edit.helpers.NameTypeConstraintEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <metamodelType
               id="de.topicmapslab.tmcledit.diagram.OccurenceTypeConstraint_2002"
               name="%metatype.name.OccurenceTypeConstraint_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OccurenceTypeConstraint"
               edithelper="de.topicmapslab.tmcledit.model.diagram.edit.helpers.OccurenceTypeConstraintEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <metamodelType
               id="de.topicmapslab.tmcledit.diagram.SubjectIdentifierConstraint_2003"
               name="%metatype.name.SubjectIdentifierConstraint_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="subjectIdentifierConstraint"
               edithelper="de.topicmapslab.tmcledit.model.diagram.edit.helpers.SubjectIdentifierConstraintEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <metamodelType
               id="de.topicmapslab.tmcledit.diagram.SubjectLocatorConstraint_2004"
               name="%metatype.name.SubjectLocatorConstraint_2004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="subjectLocatorConstraint"
               edithelper="de.topicmapslab.tmcledit.model.diagram.edit.helpers.SubjectLocatorConstraintEditHelper">
            <param name="semanticHint" value="2004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.NameTypeConstraint_2005"
               name="%metatype.name.NameTypeConstraint_2005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.NameTypeConstraint_2001"/>
            <param name="semanticHint" value="2005"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.OccurenceTypeConstraint_2006"
               name="%metatype.name.OccurenceTypeConstraint_2006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.OccurenceTypeConstraint_2002"/>
            <param name="semanticHint" value="2006"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.SubjectIdentifierConstraint_2007"
               name="%metatype.name.SubjectIdentifierConstraint_2007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.SubjectIdentifierConstraint_2003"/>
            <param name="semanticHint" value="2007"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.SubjectLocatorConstraint_2008"
               name="%metatype.name.SubjectLocatorConstraint_2008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.SubjectLocatorConstraint_2004"/>
            <param name="semanticHint" value="2008"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.NameTypeConstraint_2009"
               name="%metatype.name.NameTypeConstraint_2009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.NameTypeConstraint_2001"/>
            <param name="semanticHint" value="2009"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.OccurenceTypeConstraint_2010"
               name="%metatype.name.OccurenceTypeConstraint_2010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.OccurenceTypeConstraint_2002"/>
            <param name="semanticHint" value="2010"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.SubjectIdentifierConstraint_2011"
               name="%metatype.name.SubjectIdentifierConstraint_2011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.SubjectIdentifierConstraint_2003"/>
            <param name="semanticHint" value="2011"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.SubjectLocatorConstraint_2012"
               name="%metatype.name.SubjectLocatorConstraint_2012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.SubjectLocatorConstraint_2004"/>
            <param name="semanticHint" value="2012"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.NameTypeConstraint_2013"
               name="%metatype.name.NameTypeConstraint_2013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.NameTypeConstraint_2001"/>
            <param name="semanticHint" value="2013"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.OccurenceTypeConstraint_2014"
               name="%metatype.name.OccurenceTypeConstraint_2014"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.OccurenceTypeConstraint_2002"/>
            <param name="semanticHint" value="2014"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.SubjectIdentifierConstraint_2015"
               name="%metatype.name.SubjectIdentifierConstraint_2015"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.SubjectIdentifierConstraint_2003"/>
            <param name="semanticHint" value="2015"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.SubjectLocatorConstraint_2016"
               name="%metatype.name.SubjectLocatorConstraint_2016"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.SubjectLocatorConstraint_2004"/>
            <param name="semanticHint" value="2016"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.NameTypeConstraint_2017"
               name="%metatype.name.NameTypeConstraint_2017"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.NameTypeConstraint_2001"/>
            <param name="semanticHint" value="2017"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.OccurenceTypeConstraint_2018"
               name="%metatype.name.OccurenceTypeConstraint_2018"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.OccurenceTypeConstraint_2002"/>
            <param name="semanticHint" value="2018"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.SubjectIdentifierConstraint_2019"
               name="%metatype.name.SubjectIdentifierConstraint_2019"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.SubjectIdentifierConstraint_2003"/>
            <param name="semanticHint" value="2019"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.SubjectLocatorConstraint_2020"
               name="%metatype.name.SubjectLocatorConstraint_2020"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.SubjectLocatorConstraint_2004"/>
            <param name="semanticHint" value="2020"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.NameTypeConstraint_2021"
               name="%metatype.name.NameTypeConstraint_2021"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.NameTypeConstraint_2001"/>
            <param name="semanticHint" value="2021"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.OccurenceTypeConstraint_2022"
               name="%metatype.name.OccurenceTypeConstraint_2022"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.OccurenceTypeConstraint_2002"/>
            <param name="semanticHint" value="2022"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.SubjectIdentifierConstraint_2023"
               name="%metatype.name.SubjectIdentifierConstraint_2023"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.SubjectIdentifierConstraint_2003"/>
            <param name="semanticHint" value="2023"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.SubjectLocatorConstraint_2024"
               name="%metatype.name.SubjectLocatorConstraint_2024"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.topicmapslab.tmcledit.diagram.SubjectLocatorConstraint_2004"/>
            <param name="semanticHint" value="2024"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <metamodelType
               id="de.topicmapslab.tmcledit.diagram.RoleTypeConstraints_3001"
               name="%metatype.name.RoleTypeConstraints_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="RoleTypeConstraints"
               edithelper="de.topicmapslab.tmcledit.model.diagram.edit.helpers.RoleTypeConstraintsEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.TopicTypeAko_3002"
               name="%metatype.name.TopicTypeAko_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="3002"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://topicmapslab.de/tmceledit/1.0">
         <specializationType
               id="de.topicmapslab.tmcledit.diagram.TopicTypeIsa_3003"
               name="%metatype.name.TopicTypeIsa_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="3003"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <?gmfgen generated="true"?>
      <clientContext id="TmcleditClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="de.topicmapslab.tmcledit.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="TmcleditClientContext">
         <elementType ref="de.topicmapslab.tmcledit.diagram.TopicMapSchema_79"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.NameType_1001"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.ScopeType_1002"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.RoleType_1003"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.AssociationsType_1004"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.OccurenceType_1005"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.AssociationTypeConstraint_1006"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.TopicType_1007"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.NameTypeConstraint_2001"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.OccurenceTypeConstraint_2002"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.SubjectIdentifierConstraint_2003"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.SubjectLocatorConstraint_2004"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.NameTypeConstraint_2005"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.OccurenceTypeConstraint_2006"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.SubjectIdentifierConstraint_2007"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.SubjectLocatorConstraint_2008"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.NameTypeConstraint_2009"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.OccurenceTypeConstraint_2010"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.SubjectIdentifierConstraint_2011"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.SubjectLocatorConstraint_2012"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.NameTypeConstraint_2013"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.OccurenceTypeConstraint_2014"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.SubjectIdentifierConstraint_2015"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.SubjectLocatorConstraint_2016"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.NameTypeConstraint_2017"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.OccurenceTypeConstraint_2018"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.SubjectIdentifierConstraint_2019"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.SubjectLocatorConstraint_2020"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.NameTypeConstraint_2021"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.OccurenceTypeConstraint_2022"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.SubjectIdentifierConstraint_2023"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.SubjectLocatorConstraint_2024"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.RoleTypeConstraints_3001"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.TopicTypeAko_3002"/>
         <elementType ref="de.topicmapslab.tmcledit.diagram.TopicTypeIsa_3003"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>



   <extension point="org.eclipse.ui.commands">
      <?gmfgen generated="true"?>
      <command
            name="%openURIActionLabel"
            description="%openURIActionDescription"
            categoryId="org.eclipse.ui.category.file"
            id="de.topicmapslab.tmcledit.diagram.OpenURICommand"/>  
      <command
            name="%openActionLabel"
            description="%openActionDescription"
            categoryId="org.eclipse.ui.category.file"
            id="de.topicmapslab.tmcledit.diagram.OpenCommand"/>  
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <?gmfgen generated="true"?>
      <key
            commandId="de.topicmapslab.tmcledit.diagram.OpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="de.topicmapslab.tmcledit.diagram.OpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <?gmfgen generated="true"?>
      <actionSet
            label="%applicationActionSetLabel"
            visible="true"
            id="de.topicmapslab.tmcledit.diagram.ActionSet">
         <action
               label="%newDiagramActionLabel"
               class="de.topicmapslab.tmcledit.model.diagram.application.NewDiagramAction"
               menubarPath="file/new/additions"
               id="de.topicmapslab.tmcledit.diagram.NewDiagramAction">
         </action>
         <action
               label="%aboutActionLabel"
               class="de.topicmapslab.tmcledit.model.diagram.application.AboutAction"
               menubarPath="help/additions"
               id="de.topicmapslab.tmcledit.diagram.AboutAction">
         </action>
         <action
               label="%openURIActionLabel"
               definitionId="de.topicmapslab.tmcledit.diagram.OpenURICommand"
               class="de.topicmapslab.tmcledit.model.diagram.application.OpenURIAction"
               menubarPath="file/additions"
               id="de.topicmapslab.tmcledit.diagram.OpenURIAction">
         </action>
         <action
               label="%openActionLabel"
               definitionId="de.topicmapslab.tmcledit.diagram.OpenCommand"
               class="de.topicmapslab.tmcledit.model.diagram.application.OpenAction"
               menubarPath="file/additions"
               id="de.topicmapslab.tmcledit.diagram.OpenAction">
         </action>
      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="de.topicmapslab.tmcledit.model.diagram.part.TmcleditDiagramUpdateCommand"
         description="%update.diagram.description"
         id="de.topicmapslab.tmcledit.model.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings">
      <?gmfgen generated="true"?>
      <key 
         commandId="de.topicmapslab.tmcledit.model.diagram.updateDiagram"
         contextId="de.topicmapslab.tmcledit.model.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>
</plugin>
