<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="de.topicmapslab.tmcledit.export.tmcledit"
            name="Onotoa">
      </category>
      <wizard
            category="de.topicmapslab.tmcledit.export.tmcledit"
            class="de.topicmapslab.onotoa.aranuka.codegen.wizards.AranukaExportWizard"
            id="de.topicmapslab.onotoa.aranuka.codegen.wizard"
            name="Aranuka Code Generator">
      </wizard>
   </extension>
   <extension
         name="Aranuka Annotation Extensions"
         point="de.topicmapslab.tmcledit.edit.annotationprovider">
      <annotationprovider
            id="de.topicmapslab.onotoa.aranuka.codegen.generateattribute"
            internal="false"
            name="de.topicmapslab.aranuka.generateattribute"
            validator="de.topicmapslab.onotoa.aranuka.codegen.annotation.BooleanValidator">
      </annotationprovider>
      <annotationprovider
            id="de.topicmapslab.onotoa.aranuka.codegen.name"
            internal="false"
            name="de.topicmapslab.aranuka.name"
            validator="de.topicmapslab.onotoa.aranuka.codegen.annotation.StringValidator">
      </annotationprovider>
      <annotationprovider
            id="de.topicmapslab.onotoa.aranuka.codegen.autogenerate"
            internal="false"
            name="de.topicmapslab.aranuka.autogenerate"
            validator="de.topicmapslab.onotoa.aranuka.codegen.annotation.BooleanValidator">
      </annotationprovider>
   </extension>
   <extension
         name="Genny Annotation Extensions"
         point="de.topicmapslab.tmcledit.edit.annotationprovider">
      <annotationprovider
            id="de.topicmapslab.onotoa.genny.codegen.category"
            internal="false"
            name="de.topicmapslab.genny.category"
            validator="de.topicmapslab.onotoa.aranuka.codegen.annotation.StringValidator">
      </annotationprovider>
   </extension>
   <extension
         name="Kuria Annotation Extensions"
         point="de.topicmapslab.tmcledit.edit.annotationprovider">
      <annotationprovider
            id="de.topicmapslab.onotoa.kuria.codegen.hidden"
            internal="false"
            name="de.topicmapslab.kuria.hidden"
            validator="de.topicmapslab.onotoa.aranuka.codegen.annotation.BooleanValidator">
      </annotationprovider>
      <annotationprovider
            id="de.topicmapslab.onotoa.kuria.codegen.label"
            internal="false"
            name="de.topicmapslab.kuria.label"
            validator="de.topicmapslab.onotoa.aranuka.codegen.annotation.StringValidator">
      </annotationprovider>
      <annotationprovider
            id="de.topicmapslab.onotoa.kuria.codegen.liststyle"
            internal="false"
            name="de.topicmapslab.kuria.liststyle"
            proposalprovider="de.topicmapslab.onotoa.aranuka.codegen.annotation.ListStyleProvider"
            validator="de.topicmapslab.onotoa.aranuka.codegen.annotation.StringValidator">
      </annotationprovider>
      <annotationprovider
            id="de.topicmapslab.onotoa.kuria.codegen.rows"
            internal="false"
            name="de.topicmapslab.kuria.rows"
            validator="de.topicmapslab.onotoa.aranuka.codegen.annotation.RowsValidator">
      </annotationprovider>
      <annotationprovider
            id="de.topicmapslab.onotoa.kuria.codegen.weight"
            internal="false"
            name="de.topicmapslab.kuria.weight"
            validator="de.topicmapslab.onotoa.aranuka.codegen.annotation.WeightValidator"
            proposalprovider="de.topicmapslab.onotoa.aranuka.codegen.annotation.WeightProvider">
      </annotationprovider>
      <annotationprovider
            id="de.topicmapslab.onotoa.kuria.codegen.optional"
            internal="false"
            name="de.topicmapslab.kuria.optional"
            validator="de.topicmapslab.onotoa.aranuka.codegen.annotation.BooleanValidator">
      </annotationprovider>
      <annotationprovider
            id="de.topicmapslab.onotoa.kuria.codegen.typelabel"
            internal="false"
            name="de.topicmapslab.kuria.typelabel"
            validator="de.topicmapslab.onotoa.aranuka.codegen.annotation.BooleanValidator">
      </annotationprovider>
      <annotationprovider
            id="de.topicmapslab.onotoa.kuria.codegen.createnew"
            internal="false"
            name="de.topicmapslab.kuria.createnew"
            validator="de.topicmapslab.onotoa.aranuka.codegen.annotation.BooleanValidator">
      </annotationprovider>
      <annotationprovider
            id="de.topicmapslab.onotoa.kuria.codegen.read-only"
            internal="false"
            name="de.topicmapslab.kuria.read-only"
            validator="de.topicmapslab.onotoa.aranuka.codegen.annotation.BooleanValidator">
      </annotationprovider>
      <annotationprovider
            id="de.topicmapslab.onotoa.kuria.codegen.description"
            internal="false"
            name="de.topicmapslab.kuria.description"
            validator="de.topicmapslab.onotoa.aranuka.codegen.annotation.StringValidator">
      </annotationprovider>
   </extension>
   <extension
         point="de.topicmapslab.tmcledit.edit.modelviewextension">
      <modeviewextension
            class="de.topicmapslab.onotoa.aranuka.codegen.modelview.GeneratorModelViewProvider"
            name="Code Generator">
      </modeviewextension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.topicmapslab.onotoa.aranuka.codegen.preferences.CodegenPage"
            id="de.topicmapslab.onotoa.aranuka.codegen.preferences.CodegenPage"
            name="Code Generation">
      </page>
   </extension>

</plugin>
