<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.topicmapslab.onotoa.update.CheckUpdateCommand"
            id="de.topicmapslab.onotoa.CheckUpdateCommand"
            name="Check for &amp;Update">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help">
         <command
               commandId="de.topicmapslab.onotoa.CheckUpdateCommand"
               style="push" />        
               <command commandId="org.eclipselabs.p2.rcpupdate.install" style="push"/>
        		<command commandId="org.eclipselabs.p2.rcpupdate.update" style="push"/>
         
      </menuContribution>
   </extension>

</plugin>
